li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: red
}

.active-tab a {
  color: green;
}

.filter-item {
  width: 60px;
  height: 88px;
}

section {
  min-height: 100vh;
}

body {
  margin: 0;
}



.loader {
  width: 16px;
  height: 16px;
  position: relative;
  left: -32px;
  border-radius: 50%;
  color: #fff;
  background: currentColor;
  box-shadow: 32px 0 , -32px 0 ,  64px 0;
}

.loader::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background:#FF3D00;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0% , 5%{
    left: -32px;
    width: 16px;
  }
  15% , 20%{
    left: -32px;
    width: 48px;
  }
  30% , 35%{
    left: 0px;
    width: 16px;
  }
  45% , 50%{
    left: 0px;
    width: 48px;
  }
  60% , 65%{
    left: 32px;
    width: 16px;
  }

  75% , 80% {
    left: 32px;
    width: 48px;
  }
  95%, 100% {
    left: 64px;
    width: 16px;
  }


}

nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  @media screen and (min-width: 900px) {
    display: block;
    
  }
}

nav.open {
  display: block;
}

nav ul {
  display: flex;
}

.hamburger-button {
  @media screen and (min-width: 900px) {
    display: none;
    
  }
}

/* home page sections */




/* other projects component */

.projects-container {
  display: grid;
  grid-template-columns: 20% 30% 20%;


}

.projects-container img {
  width: 100%;
}

/* footer */

footer {
  /* height: 50px; */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;

}

footer ul {
  display: flex;
  gap: 1rem;
}

footer svg {
  height: 50px;
  width: 50px;
  stroke: white;
  fill: white;
}

footer svg:hover {
  /* stroke: red;
  stroke-width: 12px; */
  filter: drop-shadow(0px 0px 10px rgb(202, 200, 200));
  /* box-shadow: 0px 0px 10px white; */
}




/* CSS */
button {
  min-width: 250px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 135ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2rem;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

:root {
  --background: #f2f2f2;
  /* --text-primary: #0f0f0f; */
  --text-primary: green;
  --text-secondary: #4e4e4e;
  --accent: #dfb017;
  --accent-hover: #cea315; 
  --border: #1f1e1e;
  --shadow: 7px 15px 13px -4px #00000056;
}