li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: red
}

.active-tab a {
  color: green;
}

.filter-item {
  width: 60px;
  height: 88px;
}

section {
  min-height: 100vh;
}

body {
  margin: 0;
}



.loader {
  width: 16px;
  height: 16px;
  position: relative;
  left: -32px;
  border-radius: 50%;
  color: #fff;
  background: currentColor;
  box-shadow: 32px 0 , -32px 0 ,  64px 0;
}

.loader::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background:#FF3D00;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0% , 5%{
    left: -32px;
    width: 16px;
  }
  15% , 20%{
    left: -32px;
    width: 48px;
  }
  30% , 35%{
    left: 0px;
    width: 16px;
  }
  45% , 50%{
    left: 0px;
    width: 48px;
  }
  60% , 65%{
    left: 32px;
    width: 16px;
  }

  75% , 80% {
    left: 32px;
    width: 48px;
  }
  95%, 100% {
    left: 64px;
    width: 16px;
  }


}

nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  @media screen and (min-width: 900px) {
    display: block;
    
  }
}

nav.open {
  display: block;
}

nav ul {
  display: flex;
}

.hamburger-button {
  @media screen and (min-width: 900px) {
    display: none;
    
  }
}

/* home page sections */




/* other projects component */

.projects-container {
  display: grid;
  grid-template-columns: 20% 30% 20%;


}

.projects-container img {
  width: 100%;
}

/* footer */

footer {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

}

footer ul {
  display: flex;
  gap: 1rem;
}