@import "colors";
@import "mixins";

* {
    box-sizing: border-box;
}

.light {
    @include apply-colors($light-mode-colors);
}

.dark {
    @include apply-colors($dark-mode-colors);
}


body {
    background-color: var(--background-color);
    color: var(--main-font);
    transition: background-color .75s ease, color .75s ease;
    margin: 0;
}



svg {
    fill: var(--primary-color);
}

img {
    filter: brightness(var(--image-brightness));
}

input, textarea {
    filter:brightness(var(--input-brightness));
}

