.contact-section {
    background-color: var(--contact-color);
    color: var(--contact-font);
    transition: color .75s ease, background-color .75s ease;

    
}

.contact-form {
    width: clamp(300px, 95%, 1200px);
    margin: 0 auto;


    @media screen and (min-width: 901px) {
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}

form div {
    display: flex;
    flex-direction: column;
}