header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index:999;
    background-color: var(--nav-bg);
    transition: background-color .75s ease;
}


nav {
    position: fixed;
    height: 100%;
    background-color: var(--nav-bg);
    width: 100%;
    transform: translateY(-100%);
    transition: background-color .75s ease, transform .5s ease;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        text-align: center;
    }

    @media screen and (min-width: 800px) {
        height: 60px;     
        transform: translateY(0);
        display: block;
        
        ul {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            padding-right: 1rem;

        }
    }

}

nav.open {
    transform: translateY(0);
    transition: transform .5s ease;
}




.hamburger-button {
    position: fixed;
    z-index: 10000;
    right: 0;

    @media screen and (min-width: 50rem) {
        display: none;
        
    }
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'edo';
    font-weight: 100;
    font-size: 3rem;

    @media screen and (min-width: 50rem) {
        font-size: 1.5rem;
    }
}

nav a:hover {
    color: var(--primary-variant-2);
}
